mixin post(post = {})
  article.post
    .post__thumb-wrapper
      img.post__thumbnail(src=`${post.thumbnail}`)

    .post__content-wrapper
      .post__meta
        time.post__date(datetime= date_xml(post.date))= `Опубликовано: ${date(post.date)}`
        .post__categories!= list_categories(post.categories, {show_count: false, class: 'post__category', style: 'none', separator: '►'})

      h2.post__title= `${post.title}`

      .post__content
        | !{render(truncate(post.content.replace(/\\n/g, ' '), { length: 400, omission: '...' }), 'html')}

      .post__button-more
        +button-more('Читать', post.link)

      .post__foot
        ul.post__tags
          each tag in post.tags.data
            li.post__tag
              a.post__tag-link(href= url_for(tag.path))= `${tag.name}`