include ../_utils/replacement
//- <span class='code'></span>
    –

-
  const snippets = {
  grid: {

  html: [
  `<div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 col-xs-2"></div>
      <div class="col col-sm-4 col-md-3 col-xs-1"></div>
    </div>
  </div>`,

  `<section class="main">
    <div class="card">
      <div class="card__header"></div>
      <div class="card__body"></div>
      <div class="card__footer"></div>
    </div>
  </section>`,

  `<div class="container"></div>`,

  `<div class="container">
    <div class="row">
      <div class="col">1</div>
      <div class="col">2</div>
      <div class="col">3</div>
      <div class="col">4</div>
    </div>

    <div class="row">
      <div class="col">5</div>
      <div class="col">6</div>
      <div class="col">7</div>
      <div class="col">8</div>
    </div>

    <div class="row">
      <div class="col">9</div>
      <div class="col">10</div>
      <div class="col">11</div>
      <div class="col">12</div>
    </div>
  </div>`,

  `<div class="wrap">
    <div class="header">
      <div class="logo">logo</div>
      <div class="nav">nav</div>
      <div class="login">login</div>
    </div>

    <div class="main">
      <div class="sidebar">sidebar</div>
      <div class="content">content</div>
      <div class="sidebar">sidebar</div>
    </div>

    <div class="footer">
      <div class="logo">logo</div>
      <div class="about">about</div>
      <div class="email">email</div>
    </div>
  </div>`,

  `<div class="container">
    <div class="row">
      <div class="col-2 col-laptop-3 col-laptop-md-4 col-tablet-landscape-6 col-phone-landscape-12">1</div>
      <div class="col-2 col-laptop-3 col-laptop-md-4 col-tablet-landscape-6 col-phone-landscape-12">2</div>
      <div class="col-2 col-laptop-3 col-laptop-md-4 col-tablet-landscape-6 col-phone-landscape-12">3</div>
      <div class="col-2 col-laptop-3 col-laptop-md-4 col-tablet-landscape-6 col-phone-landscape-12">4</div>
      <div class="col-2 col-laptop-3 col-laptop-md-4 col-tablet-landscape-6 col-phone-landscape-12">5</div>
      <div class="col-2 col-laptop-3 col-laptop-md-4 col-tablet-landscape-6 col-phone-landscape-12">6</div>
    </div>
  </div>`,

  `<div class="container">
    <div class="row">
      <div class="col-6">col 6</div>
      <div class="col-6">col 6</div>
    </div>

    <div class="row">
      <div class="col-2">col 2</div>
      <div class="col-3">col 3</div>
      <div class="col-4">col 4</div>
      <div class="col-3">col 3</div>
    </div>
  </div> `,

  `<div class="wrap">
    <div class="inner">
      <div class="column">1</div>
      <div class="column">2</div>
      <div class="column">3</div>
      <div class="column">4</div>
      <div class="column">5</div>
      <div class="column">6</div>
    </div>
  </div>`,

  `<div class="container">
    <div class="example row justify-content-start">
      <div class="example__col col-2">col-2</div>
      <div class="example__col col-2">col-2</div>
    </div>

    <div class="example row justify-content-center">
      <div class="example__col col-2">col-2</div>
      <div class="example__col col-2">col-2</div>
    </div>

    <div class="example row justify-content-end">
      <div class="example__col col-2">col-2</div>
      <div class="example__col col-2">col-2</div>
    </div>

    <div class="example row justify-content-space-between">
      <div class="example__col col-2">col-2</div>
      <div class="example__col col-2">col-2</div>
      <div class="example__col col-2">col-2</div>
    </div>

    <div class="examplerow justify-content-space-around">
      <div class="example__col col-2">col-2</div>
      <div class="example__col col-2">col-2</div>
      <div class="example__col col-2">col-2</div>
    </div>
  </div>`,

  `<div class="container">
    <div class="example row">
      <div class="example__col col-3">1</div>
      <div class="example__col col-3">2</div>
      <div class="example__col col-3">3</div>
      <div class="example__col col-3">4</div>
    </div>

    <div class="example row direction-row-reverse">
      <div class="example__col col-3">1</div>
      <div class="example__col col-3">2</div>
      <div class="example__col col-3">3</div>
      <div class="example__col col-3">4</div>
    </div>

    <div class="example row direction-column">
      <div class="example__col col-3">1</div>
      <div class="example__col col-3">2</div>
      <div class="example__col col-3">3</div>
      <div class="example__col col-3">4</div>
    </div>

    <div class="example row direction-column-reverse">
      <div class="example__col col-3">1</div>
      <div class="example__col col-3">2</div>
      <div class="example__col col-3">3</div>
      <div class="example__col col-3">4</div>
    </div>
  </div>`,

  `<div class="container">
    <div class="row">
      <div class="col-1 offset-right-1">of-1</div>
    </div>

    <div class="row">
      <div class="col-1 offset-right-2">of-2</div>
    </div>

    <div class="row">
      <div class="col-1 offset-right-3">of-3</div>
    </div>

    <div class="row">
      <div class="col-1 offset-right-4">of-4</div>
    </div>

    <div class="row">
      <div class="col-1 offset-right-5">of-5</div>
    </div>

    <div class="row">
      <div class="col-1 offset-right-6">of-6</div>
    </div>

    <div class="row">
      <div class="col-1 offset-right-7">of-7</div>
    </div>

    <div class="row">
      <div class="col-1 offset-right-8">of-8</div>
    </div>

    <div class="row">
      <div class="col-1 offset-right-9">of-9</div>
    </div>

    <div class="row">
      <div class="col-1 offset-right-10">of-10</div>
    </div>
  </div>`,

  `<div class="container">
    <div class="row">
      <div class="col order-laptop-md-last">1</div>
      <div class="col">2</div>
      <div class="col">3</div>
      <div class="col">4</div>
    </div>
  </div>`,

  `<div class="container">
    <div class="row">
      <div class="col">1</div>
      <div class="col">2</div>
      <div class="col">3</div>
      <div class="col order-tablet-landscape-first">4</div>
    </div>
  </div>`,

  `<div class="container">
    <div class="row">
      <div class="col order-4">1</div>
      <div class="col order-3">2</div>
      <div class="col order-2">3</div>
      <div class="col order-1">4</div>
    </div>
  </div>`,

  `<div class="container">
    <div class="row">
      <div class="col order-1 order-laptop-md-2">1</div>
      <div class="col order-2 order-laptop-md-1">2</div>
      <div class="col order-3">3</div>
      <div class="col order-4">4</div>
    </div>
  </div>`,

  `<div class="container">
    <div class="row">
      <div class="col">1</div>
      <div class="col">2</div>
      <div class="col">3</div>
      <div class="col">4</div>
      <div class="col">5</div>
      <div class="col">6</div>
    </div>
  </div>`,

  `<div class="container">
    <div class="row">
      <div class="col">1</div>
      <div class="col hide-laptop-md">2</div>
      <div class="col">3</div>
      <div class="col hide-laptop-md">4</div>
      <div class="col">5</div>
      <div class="col hide-laptop-md">6</div>
    </div>
  </div>`
  ],

  sass: [
  `.main {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .card {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  .card__header,
  .card__body,
  .card__footer {
    flex: 1 0 0%;
    box-sizing: border-box;
    margin: 0 15px 30px;
  }`,

  `$container-width: 1140px !default; // ширина контейнера
  $container-padding: 15px !default; // внутренние отступы контейнера
  $h-gutter: 30px !default; // расстояние между ячейками сетки по горизонтали
  $v-gutter: $h-gutter !default; // расстояние между ячейками сетки по вертикали
  $columns: 12 !default; // количество колонок сетки
  // флаг, указывающий, какой подход будет использован при формиравнии
  // медиазапросов - mobile first или desktop first
  $mobile-first: false !default;

  // возвращает ключевое слово min или max, которое будет использовано
  // при формировании всех медиазапросов библиотеки - min-width или max-width
  @function query-direction() {
    @if($mobile-first) {
      @return min;
    } @else {
      @return max;
    }
  }

  $media-query: query-direction(); // min или max

  $grid-breakpoints: (
    desktop: 1280px,
    laptop: 1024px,
    laptop-md: 960px,
    tablet-landscape: 768px,
    phone-landscape: 640px,
    phone: 480px,
    phone-md: 360px,
    phone-sm: 320px
  ) !default;

  // для уменьшения конечного css-файла можно переопределить переменную,
  // оставив лишь нужные части, или установить значение в false, что
  // предотвратит генерацию большого количества готовых библиотечных
  // классов - это значительно уменьшит размер скомпилированного css-файла
  $partials: (
    alignment,
    direction,
    hide,
    offset,
    ordering,
    show,
    gutters
  ) !default;

  @import 'mixins/mixins';
  @import 'partials/alignment';
  @import 'partials/ordering';
  @import 'partials/direction';
  @import 'partials/hide';
  @import 'partials/show';
  @import 'partials/offset';
  @import 'partials/gutters.scss';
  @import 'base';`,

  `@import "grid.scss";`,

  `$container-width: 1600px;
  $container-padding: 20px;

  @import "grid.scss";`,

  `@media (min-width: 960px) {
    //selectors
  }`,

  `@media (max-width: 960px) {
    //selectors
  }`,

  `$grid-breakpoints: (
    lg: 1140px,
    md: 960px,
    sm: 768px,
    xs: 500px
  );`,

  `@mixin container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 $container-padding;
  }`,

  `.wrapper {
    @include container();
  }`,

  `.container {
    @include container;
  }`,

  `@mixin row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -#{$h-gutter / 2};
  }`,

  `.row {
    @include row;
  }`,

  `mixin col {
    flex: 1 0 0%;
    box-sizing: border-box;
    margin: 0 $h-gutter / 2 $v-gutter;
  }`,

  `.col {
    @include col;
  }`,

  `.container {
    @include container;
  }

  .row {
    @include row;
  }

  .col {
    @include col;
  }`,

  `mixin container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 $container-padding;
  }

  mixin row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -#{$h-gutter / 2};
  }

  mixin col {
    flex: 1 0 0%;
    box-sizing: border-box;
    margin: 0 $h-gutter / 2 $v-gutter;
  }`,

  `.wrap {
    @include container;
  }

  .header,
  .main,
  .footer {
    @include row;
  }

  .logo,
  .nav,
  .login,
  .sidebar,
  .content,
  .about,
  .email {
    @include col;
  }`,

  `@mixin col($cols: 'false') {
    @if ($cols != 'false' and type_of($cols) == number) {
      @if ($cols > $columns) $cols: $columns;

      width: calc(100% / #{$columns} * #{$cols} - #{$h-gutter});
      flex: 0 0 auto;
      box-sizing: border-box;
      margin: 0 $h-gutter / 2 $v-gutter;
    } @else {
      flex: 1 0 0%;
      box-sizing: border-box;
      margin: 0 $h-gutter / 2 $v-gutter;
    }
  }`,

  `.wrap {
    @include container;
  }

  .header,
  .main,
  .footer {
    @include row;
  }

  .logo,
  .sidebar,
  .login,
  .email {
    @include col(3);
  }

  .nav,
  .content,
  .about {
    @include col(6);
  }`,

  `.wrap {
    @include container;
  }

  .header,
  .main,
  .footer {
    @include row;
  }

  .logo,
  .sidebar,
  .login,
  .email {
    @include col(2);
  }

  .nav,
  .content,
  .about {
    @include col(8);
  }`,

  `@for $i from 1 through $columns {
    .col-#{$i} {
      flex: 0 0 auto;
      box-sizing: border-box;
      margin: 0 $h-gutter / 2 $v-gutter;
    }
  }`,

  `@mixin generate-grid($cols: $columns) {
    @for $i from 1 through $cols {
      .col-#{$i} {
        width: calc(100% / #{$columns} * #{$cols} - #{$h-gutter});
      }
    }
  }`,

  `@function col-width($cols: 1) {
    @return calc(100% / #{$columns} * #{$cols} - #{$h-gutter});
  }`,

  `@mixin generate-grid($cols: $columns) {
    @for $i from 1 through $cols {
      .col-#{$i} {
        width: col-width($i);
      }
    }
  }`,

  `@include generate-grid();`,

  `.container {
    @include container;
  }

  .row {
    @include row;
  }

  .col {
    @include col;
  }

  /*
    Генерация "колоночных" классов и правил для них исходя из глобальной переменной $columns - заданного количества
    столбцов сетки
  */
  @for $i from 1 through $columns {
    .col-#{$i} {
      flex: 0 0 auto;
      box-sizing: border-box;
      margin: 0 $h-gutter / 2 $v-gutter;
    }
  }

  // генерация "колоночных" классов
  @include generate-grid();`,

  `// превращает элемент в контейнер сетки
  @mixin container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 $container-padding;
  }

  // превращает элемент в строку сетки
  @mixin row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -#{$h-gutter / 2};
  }

  // превращает элемент в колонку сетки
  @mixin col($cols: 'false') {
    @if ($cols != 'false' and type_of($cols) == number) {
      @if ($cols > $columns) $cols: $columns;

      width: calc(100% / #{$columns} * #{$cols} - #{$h-gutter});
      flex: 0 0 auto;
      box-sizing: border-box;
      margin: 0 $h-gutter / 2 $v-gutter;
    } @else {
      flex: 1 0 0%;
      box-sizing: border-box;
      margin: 0 $h-gutter / 2 $v-gutter;
    }
  }

  // рассчитывает ширину столбца в зависимости от переданного количества столбцов $cols
  @function col-width($cols: 1) {
    @return calc(100% / #{$columns} * #{$cols} - #{$h-gutter});
  }

  /*
    Генерирует "колоночные" классы вида .col-1, .col-2, .col-3 и т.д. исходя из глабальной переменной $columns - заданного
    количества колонок сетки
  */
  @mixin generate-grid($cols: $columns) {
    @for $i from 1 through $cols {
      .col-#{$i} {
        width: col-width($i);
      }
    }
  }`,

  `@mixin col($cols: 'false', $breakpoint: 'false') {

    @if ($breakpoint != 'false' and map_has_key($grid-breakpoints, $breakpoint) and $cols != 'false' and type_of($cols) == number) {

      @media screen and(#{$media-query}-width: map-get($grid-breakpoints, $breakpoint)) {
        width: calc(100% / #{$columns} * #{$cols} - #{$h-gutter});
        flex: 0 0 auto;
        box-sizing: border-box;
        margin: 0 $h-gutter / 2 $v-gutter;
      }

    } @else if ($breakpoint == 'false' and $cols != 'false' and type_of($cols) == number) {
      width: calc(100% / #{$columns} * #{$cols} - #{$h-gutter});
      flex: 0 0 auto;
      box-sizing: border-box;
      margin: 0 $h-gutter / 2 $v-gutter;
    } @else {
      flex: 1 0 0%;
      box-sizing: border-box;
      margin: 0 $h-gutter / 2 $v-gutter;
    }
  }`,

  `@include col(8, laptop);`,

  `@media screen and (max-width: 1024px) {
    width: calc(100% / 12 * 8 - 30px);
    flex: 0 0 auto;
    box-sizing: border-box;
    margin: 0 15px 15px;
  }`,

  `.wrap {
    @include container;
  }

  .inner {
    @include row;
  }

  .column {
    @include col(2);
    @include col(3, laptop);
    @include col(4, laptop-md);
    @include col(6, tablet-landscape);
    @include col(12, phone-landscape);
  }`,

  `flex: 1 0 0%;
  box-sizing: border-box;
  margin: 0 $h-gutter / 2 $v-gutter;`,

  `width: calc(100% / #{$columns} * #{$cols} - #{$h-gutter});
  flex: 0 0 auto;
  box-sizing: border-box;
  margin: 0 $h-gutter / 2 $v-gutter;`,

  `@media screen and(#{$media-query}-width: map-get($grid-breakpoints, $breakpoint)) {
    width: calc(100% / #{$columns} * #{$cols} - #{$h-gutter});
    flex: 0 0 auto;
    box-sizing: border-box;
    margin: 0 $h-gutter / 2 $v-gutter;
  }`,

  `@mixin generate-breakpoint($cols, $screen-width, $name) {
    .col-#{$name}-#{$cols} {
      @media screen and (#{$media-query}-width: $screen-width) {
        width: calc(100% / #{$columns} * #{$cols} - #{$h-gutter}) !important;
        flex: auto 0 0;
      }
    }
  }

  @mixin generate-grid-breakpoints($cols: $columns, $breakpoints: $grid-breakpoints) {
    @for $i from 1 through $cols {
      @each $name, $value in $breakpoints {
        @include generate-breakpoint($i, $value, $name);
      }
    }
  }`,

  `// превращает элемент в контейнер сетки
  @mixin container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 $container-padding;
  }

  // превращает элемент в строку сетки
  @mixin row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -#{$h-gutter / 2};
  }

  /*
    Превращает элемент в ячейку сетки размером в $cols колонок.
    Если при вызове примеси не передан ни один аргумент, к элементу будут применены правила, согласно которым элемент
    будет компоноваться как флекс-элемент и будет занимать пространство, равное занимаемому пространству соседними
    флекс-элментами
    Если при вызове примеси переданы оба аргумента и при этом тип первого аргумента $cols - число, а значение второго
    аргумента соответвствует одному из имен свойств глобального объекта $grid-breakpoints, то правило применяется только
    в медиазапросе, значение которого берется из этого второго аргумента. При этом в качестве значения второго аргумента
    должно использоваться одно из имен ключей глобального объекта $grid-breakpoints
    Если же передан только первый аргумент или значение второго аргумента не соответствует
    ни одному из имен ключей глобального объекта $grid-breakpoints, то элемент будет просто занимать количество ячеек,
    равное $cols
  */
  @mixin col($cols: 'false', $breakpoint: 'false') {

    @if ($breakpoint != 'false' and map_has_key($grid-breakpoints, $breakpoint) and $cols != 'false' and type_of($cols) == number) {

      @media screen and(#{$media-query}-width: map-get($grid-breakpoints, $breakpoint)) {
        width: calc(100% / #{$columns} * #{$cols} - #{$h-gutter});
        flex: 0 0 auto;
        box-sizing: border-box;
        margin: 0 $h-gutter / 2 $v-gutter;
      }

    } @else if ($breakpoint == 'false' and $cols != 'false' and type_of($cols) == number) {
      width: calc(100% / #{$columns} * #{$cols} - #{$h-gutter});
      flex: 0 0 auto;
      box-sizing: border-box;
      margin: 0 $h-gutter / 2 $v-gutter;
    } @else {
      flex: 1 0 0%;
      box-sizing: border-box;
      margin: 0 $h-gutter / 2 $v-gutter;
    }
  }

  // рассчитывает ширину столбца в зависимости от переданного количества столбцов $cols
  @function col-width($cols: 1) {
    @return calc(100% / #{$columns} * #{$cols} - #{$h-gutter});
  }

  /*
    Генерирует "колоночные" классы вида .col-1, .col-2, .col-3 и т.д. исходя из глабальной переменной $columns - заданного
    количества колонок сетки
  */
  @mixin generate-grid($cols: $columns) {
    @for $i from 1 through $cols {
      .col-#{$i} {
        width: col-width($i);
      }
    }
  }

  /*
    Генерирует "колоночный" класс сетки вида .col-tablet-8 и css-правила для него в медиазапросе исходя из $cols - числа
    столбцов, $screen-width - ширины экрана и $name - названия брейкпойнта, значение которого должно соответсвовать одному
    из имен ключей глобального объекта $grid-breakpoints
  */
  @mixin generate-breakpoint($cols, $screen-width, $name) {
    .col-#{$name}-#{$cols} {
      @media screen and (#{$media-query}-width: $screen-width) {
        width: calc(100% / #{$columns} * #{$cols} - #{$h-gutter}) !important;
        flex: auto 0 0;
      }
    }
  }

  /*
    Генерирует "колоночные" классы сетки и css-правила для них в медиазапросе исходя из глобальной переменной
    $columns - заданного количества колонок сетки и глобальной переменной $grid-breakpoints - объекта с брейкпойнтами
  */
  @mixin generate-grid-breakpoints($cols: $columns, $breakpoints: $grid-breakpoints) {
    @for $i from 1 through $cols {
      @each $name, $value in $breakpoints {
        @include generate-breakpoint($i, $value, $name);
      }
    }
  }`,

  `.container {
    @include container;
  }

  .row {
    @include row;
  }

  .col {
    @include col;
  }

  /*
    Генерация "колоночных" классов и правил для них исходя из глобальной переменной $columns - заданного количества
    столбцов сетки
  */
  @for $i from 1 through $columns {
    .col-#{$i} {
      flex: 0 0 auto;
      box-sizing: border-box;
      margin: 0 $h-gutter / 2 $v-gutter;
    }
  }

  // генерация "колоночных" классов
  @include generate-grid();

  // генерация "колоночных" клоссов с медиазапросами
  @include generate-grid-breakpoints();`,

  `@mixin justify-content($align: flex-start, $breakpoint: null) {
    @if (map_has_key($grid-breakpoints, $breakpoint)) {
      @media screen and(#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
        justify-content: $align;
      }
    } @else {
      justify-content: $align;
    }
  }`,

  `.some {
    @include justify-content(flex-end);
  }`,

  `.some {
    @include justify-content(flex-end, laptop);
  }`,

  `@mixin align-items($align: flex-start, $breakpoint: null) {
    @if (map_has_key($grid-breakpoints, $breakpoint)) {
      @media screen and(#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
        align-items: $align;
      }
    } @else {
      align-items: $align;
    }
  }`,

  `@mixin align-self($align: flex-start, $breakpoint: null) {
    @if (map_has_key($grid-breakpoints, $breakpoint)) {
      @media screen and(#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
        align-self: $align;
      }
    } @else {
      align-self: $align;
    }
  }`,

  `@mixin justify-content($align: flex-start, $breakpoint: null) {
    @if (map_has_key($grid-breakpoints, $breakpoint)) {
      @media screen and(#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
        justify-content: $align;
      }
    } @else {
      justify-content: $align;
    }
  }

  @mixin align-items($align: flex-start, $breakpoint: null) {
    @if (map_has_key($grid-breakpoints, $breakpoint)) {
      @media screen and(#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
        align-items: $align;
      }
    } @else {
      align-items: $align;
    }
  }

  @mixin align-self($align: flex-start, $breakpoint: null) {
    @if (map_has_key($grid-breakpoints, $breakpoint)) {
      @media screen and(#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
        align-self: $align;
      }
    } @else {
      align-self: $align;
    }
  }`,

  `.justify-content-start {
    @include justify-content(flex-start);
  }

  .justify-content-center {
    @include justify-content(center);
  }

  .justify-content-end {
    @include justify-content(flex-end);
  }

  .justify-content-space-between {
    @include justify-content(space-between);
  }

  .justify-content-space-around {
    @include justify-content(space-around);
  }

  .align-items-start {
    @include align-items(flex-start);
  }

  .align-items-center {
    @include align-items(center);
  }

  .align-items-end {
    @include align-items(flex-end);
  }

  .align-items-stretch {
    @include align-items(stretch);
  }

  .align-items-baseline {
    @include align-items(baseline);
  }

  .align-self-start {
    @include align-self(flex-start);
  }

  .align-self-center {
    @include align-self(center);
  }

  .align-self-end {
    @include align-self(flex-end);
  }

  .align-self-stretch {
    @include align-self(stretch);
  }

  .align-self-baseline {
    @include align-self(baseline);
  }`,

  `@mixin generate-h-alignment-breakpoints() {
    @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
      @each $className, $value in $h-alignment-classes {
        .justify-content-#{$breakpoint-name}-#{$className} {
          @include justify-content($value, $breakpoint-name);
        }
      }
    }
  }`,

  `$h-alignment-classes: (
    start: flex-start,
    center: center,
    end: flex-end,
    between: space-between,
    around: space-around,
  );`,

  `@mixin generate-v-alignment-breakpoints() {
    @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
      @each $className, $value in $v-alignment-classes {
        .align-items-#{$breakpoint-name}-#{$className} {
          @include align-items($value, $breakpoint-name);
        }
      }
    }
  }

  @mixin generate-self-alignment-breakpoints() {
    @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
      @each $className, $value in $v-alignment-classes {
        .align-self-#{$breakpoint-name}-#{$className} {
          @include align-self($value, $breakpoint-name);
        }
      }
    }
  }`,

  `$v-alignment-classes: (
    start: flex-start,
    center: center,
    end: flex-end,
    stretch: stretch,
    baseline: baseline
  );`,

  `// генерация "выравнивающих" классов вдоль главной оси внутри медиазапросов
  @include generate-h-alignment-breakpoints();
  // // генерация "выравнивающих" классов вдоль поперечной оси внутри медиазапросов
  @include generate-v-alignment-breakpoints();
  // // генерация "выравнивающих" классов вдоль главной оси внутри медиазапросов для отдельно взятой колонки
  @include generate-self-alignment-breakpoints();`,

  `/* Выравнивание колонок внутри ряда вдоль основной и поперечной осей */

  $h-alignment-classes: (
    start: flex-start,
    center: center,
    end: flex-end,
    between: space-between,
    around: space-around,
  );

  $v-alignment-classes: (
    start: flex-start,
    center: center,
    end: flex-end,
    stretch: stretch,
    baseline: baseline
  );

  /* ГОРИЗОНТАЛЬНОЕ ВЫРАВНИВАНИЕ */

  /*
    Выкладывает колонки сетки в ряду согласно параметру $align, который должен принимать одно из следующих значений:
    flex-start, flex-end, center, space-between, space-around.
    Применяется к элементам ряда ($row) сетки.
    Если передан аргумент $breakpoint, выравнивание сработает в медиазапросе согласно значению этого аргумента.
    Значением аргумента должно быть одно из имен ключей глобального массива $grid-breakpoints.
  */
  @mixin justify-content($align: flex-start, $breakpoint: null) {
    @if (map_has_key($grid-breakpoints, $breakpoint)) {
      @media screen and(#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
        justify-content: $align;
      }
    } @else {
      justify-content: $align;
    }
  }

  /* ВЕРТИКАЛЬНОЕ ВЫРАВНИВАНИЕ */

  /*
    Выкладывает колонки сетки в ряду согласно параметру $align, который должен принимать одно из следующих значений:
    flex-start, flex-end, center, stretch, baseline.
    Применяется к элементам ряда ($row) сетки.
    Если передан аргумент $breakpoint, выравнивание сработает в медиазапросе согласно значению этого аргумента.
    Значением аргумента должно быть одно из имен ключей глобального массива $grid-breakpoints.
  */
  @mixin align-items($align: flex-start, $breakpoint: null) {
    @if (map_has_key($grid-breakpoints, $breakpoint)) {
      @media screen and(#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
        align-items: $align;
      }
    } @else {
      align-items: $align;
    }
  }

  /*
    Выкладывает отдельно взятую колонку сетки в ряду согласно параметру $align, который должен принимать одно из следующих значений:
    flex-start, flex-end, center, stretch, baseline.
    Применяется к элементу отдельно взятой колонки ($col).
    Если передан аргумент $breakpoint, выравнивание сработает в медиазапросе согласно значению этого аргумента.
    Значением аргумента должно быть одно из имен ключей глобального массива $grid-breakpoints.
  */
  @mixin align-self($align: flex-start, $breakpoint: null) {
    @if (map_has_key($grid-breakpoints, $breakpoint)) {
      @media screen and(#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
        align-self: $align;
      }
    } @else {
      align-self: $align;
    }
  }

  /*
    Генерирует классы выравнивания колонок сетки вдоль главной оси. Внутри класоов правила генерируются внутри директивы
    @media, то есть внутри медиазапроса. Например: .justify-content-desktop-start, .justify-content-laptop-center и т.д.
    Применяется к элементам строки ($row). Для формирования классов и брейкпоинтов в медиазапросах использует массивы
    $h-alignment-classes и $grid-breakpoints.
  */
  @mixin generate-h-alignment-breakpoints() {
    @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
      @each $className, $value in $h-alignment-classes {
        .justify-content-#{$breakpoint-name}-#{$className} {
          @include justify-content($value, $breakpoint-name);
        }
      }
    }
  }

  /*
    Генерирует классы выравнивания колонок сетки вдоль поперечной оси. Внутри класоов правила генерируются внутри директивы
    @media, то есть внутри медиазапроса. Например: .align-items-desktop-start, .align-items-laptop-center и т.д.
    Применяется к элементам строки ($row).
    Для формирования классов и брейкпойнтов в медиазапросах использует массивы $v-alignment-classes и $grid-breakpoints.
  */
  @mixin generate-v-alignment-breakpoints() {
    @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
      @each $className, $value in $v-alignment-classes {
        .align-items-#{$breakpoint-name}-#{$className} {
          @include align-items($value, $breakpoint-name);
        }
      }
    }
  }

  /*
    Генерирует классы выравнивания отдельно взятой колонки сетки вдоль поперечной оси.
    Внутри класоов правила генерируются внутри директивы @media, то есть внутри медиазапроса.
    Например: .align-self-desktop-start, .align-self-laptop-center и т.д. Применяется к элементам колонки ($col).
    Для формирования классов и брейкпойнтов в медиазапросах использует массивы $v-alignment-classes и $grid-breakpoints.
  */
  @mixin generate-self-alignment-breakpoints() {
    @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
      @each $className, $value in $v-alignment-classes {
        .align-self-#{$breakpoint-name}-#{$className} {
          @include align-self($value, $breakpoint-name);
        }
      }
    }
  }`,

  `.justify-content-start {
    @include justify-content(flex-start);
  }

  .justify-content-center {
    @include justify-content(center);
  }

  .justify-content-end {
    @include justify-content(flex-end);
  }

  .justify-content-space-between {
    @include justify-content(space-between);
  }

  .justify-content-space-around {
    @include justify-content(space-around);
  }

  .align-items-start {
    @include align-items(flex-start);
  }

  .align-items-center {
    @include align-items(center);
  }

  .align-items-end {
    @include align-items(flex-end);
  }

  .align-items-stretch {
    @include align-items(stretch);
  }

  .align-items-baseline {
    @include align-items(baseline);
  }

  .align-self-start {
    @include align-self(flex-start);
  }

  .align-self-center {
    @include align-self(center);
  }

  .align-self-end {
    @include align-self(flex-end);
  }

  .align-self-stretch {
    @include align-self(stretch);
  }

  .align-self-baseline {
    @include align-self(baseline);
  }

  // генерация "выравнивающих" классов вдоль главной оси внутри медиазапросов
  @include generate-h-alignment-breakpoints();
  // генерация "выравнивающих" классов вдоль поперечной оси внутри медиазапросов
  @include generate-v-alignment-breakpoints();
  // генерация "выравнивающих" классов вдоль главной оси внутри медиазапросов для отдельно взятой колонки
  @include generate-self-alignment-breakpoints();`,

  `.container {
    @include container();

    .example {
      @include row();

      &:first-child {
        @include justify-content(flex-start);
      }

      &:nth-child(2) {
        @include justify-content(center);
      }

      &:nth-child(3) {
        @include justify-content(flex-end);
      }

      &:nth-child(4) {
        @include justify-content(space-between);
      }

      &:nth-child(5) {
        @include justify-content(space-around);
      }

      &__col {
        @include col(2);
      }
    }
  }`,

  `@if index($partials, alignment) {

    .justify-content-start {
      @include justify-content(flex-start);
    }

    .justify-content-center {
      @include justify-content(center);
    }

    .justify-content-end {
      @include justify-content(flex-end);
    }

    .justify-content-space-between {
      @include justify-content(space-between);
    }

    .justify-content-space-around {
      @include justify-content(space-around);
    }

    .align-items-start {
      @include align-items(flex-start);
    }

    .align-items-center {
      @include align-items(center);
    }

    .align-items-end {
      @include align-items(flex-end);
    }

    .align-items-stretch {
      @include align-items(stretch);
    }

    .align-items-baseline {
      @include align-items(baseline);
    }

    .align-self-start {
      @include align-self(flex-start);
    }

    .align-self-center {
      @include align-self(center);
    }

    .align-self-end {
      @include align-self(flex-end);
    }

    .align-self-stretch {
      @include align-self(stretch);
    }

    .align-self-baseline {
      @include align-self(baseline);
    }

    // генерирация классов горизонтального выравнивания ячеек сетки в строке в медиазапросах
    @include generate-h-alignment-breakpoints();
    // генерация классов вертикального выравнивания ячеек сетки в столбце в медиазапросах
    @include generate-v-alignment-breakpoints();
    // генерация классов вертикального выравнивания отдельно взятой ячейки сетки в столбце в медиазапросах
    @include generate-self-alignment-breakpoints();
  }`,

  `@if index($partials, alignment) {
    // ...code
  }`,

  `/* Направление расположения колонок в ряду */

  /*
    Задает направление оси, вдоль которой укладываются колонки сетки в ряду.
    В качестве аргумента для первого параметра $direction должно быть передано одно
    из следующиех значений: row, row-reverse, column, column-reverse.
    Если вторым аргументом передано значение, соответствующее одному из имен ключей
    глобального массива $grid-breakpoints, правило будет применено в медиазапросе.
  */
  @mixin direction($direction: row, $breakpoint: 'false') {
    @if (map_has_key($grid-breakpoints, $breakpoint)) {
      @if ($direction == row) {
        @media screen and (#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
          flex-direction: row;
        }
      } @else if ($direction == row-reverse) {
        @media screen and (#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
          flex-direction: row-reverse;
        }
      } @else if ($direction == column) {
        @media screen and (#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
          flex-direction: column;
        }
      } @else if ($direction == column-reverse) {
        @media screen and (#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
          flex-direction: column-reverse;
        }
      } @else {
        @media screen and (#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
          flex-direction: row;
        }
      }
    } @else {
      @if ($direction == row) {
        flex-direction: row;
      } @else if ($direction == row-reverse) {
        flex-direction: row-reverse;
      } @else if ($direction == column) {
        flex-direction: column;
      } @else if ($direction == column-reverse) {
        flex-direction: column-reverse;
      } @else {
        flex-direction: row;
      }
    }
  }`,

  `.direction-row {
    @include direction(row);
  }

  .direction-row-reverse {
    @include direction(row-reverse);
  }

  .direction-column {
    @include direction(column);
  }

  .direction-column-reverse {
    @include direction(column-reverse);
  }`,

  `// генерация "направляющих" классов в медиазапросах согласно заданным брейкпоинтам $grid-breakpoints
  @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
    .direction-#{$breakpoint-name}-row {
      @include direction(row, $breakpoint-name);
    }

    .direction-#{$breakpoint-name}-row-reverse {
      @include direction(row-reverse, $breakpoint-name);
    }

    .direction-#{$breakpoint-name}-column {
      @include direction(column, $breakpoint-name);
    }

    .direction-#{$breakpoint-name}-column-reverse {
      @include direction(column-reverse, $breakpoint-name);
    }
  }`,

  `@if (index($partials, direction)) {

    .direction-row {
      @include direction(row);
    }

    .direction-row-reverse {
      @include direction(row-reverse);
    }

    .direction-column {
      @include direction(column);
    }

    .direction-column-reverse {
      @include direction(column-reverse);
    }

    // генерация "направляющих" классов в медиазапросах согласно заданным брейкпойнтам $grid-breakpoints
    @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
      .direction-#{$breakpoint-name}-row {
        @include direction(row, $breakpoint-name);
      }

      .direction-#{$breakpoint-name}-row-reverse {
        @include direction(row-reverse, $breakpoint-name);
      }

      .direction-#{$breakpoint-name}-column {
        @include direction(column, $breakpoint-name);
      }

      .direction-#{$breakpoint-name}-column-reverse {
        @include direction(column-reverse, $breakpoint-name);
      }
    }
  }`,

  `.container {
    @include container();

    .example {
      @include row();

      &:nth-child(2) {
        @include direction(row-reverse);
      }

      &:nth-child(3) {
        @include direction(column);
      }

      &:nth-child(4) {
        @include direction(column-reverse);
      }

      &__col {
        @include col(3);
      }
    }
  }`,

  `@mixin offset($direction: right, $offset: auto, $breakpoint: null) {
    //...
  }`,

  `@mixin offset($direction: right, $offset: auto, $breakpoint: null) {
    @if (map_has_key($grid-breakpoints, $breakpoint)) {
      //...
    } else {
      //...
    }
  }`,

  `@mixin offset($direction: right, $offset: auto, $breakpoint: null) {
    @if (map_has_key($grid-breakpoints, $breakpoint)) {
      @media screen and (#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
        //...
      }
    } else {
      //...
    }
  }`,

  `@mixin offset($direction: right, $offset: auto, $breakpoint: null) {
    @if (map_has_key($grid-breakpoints, $breakpoint)) {
      @media screen and (#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
        @if ($offset == auto) {
          @if ($direction == right) {
            margin-left: auto !important;
            margin-right: $h-gutter / 2 !important;
          } @else if ($direction == left) {
            margin-right: auto !important;
            margin-left: $h-gutter / 2 !important;
          } @else {
            margin-left: auto !important;
            margin-right: $h-gutter / 2 !important;
          }
        }
      }
    } else {
      @if ($offset == auto) {
        @if ($direction == right) {
          margin-left: auto !important;
          margin-right: $h-gutter / 2 !important;
        } @else if ($direction == left) {
          margin-right: auto !important;
          margin-left: $h-gutter / 2 !important;
        } @else {
          margin-left: auto !important;
          margin-right: $h-gutter / 2 !important;
        }
      }
    }
  }`,

  `@mixin offset($direction: right, $offset: auto, $breakpoint: null) {
    @if (map_has_key($grid-breakpoints, $breakpoint)) {
      @media screen and (#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
        @if ($offset == auto) {
          @if ($direction == right) {
            margin-left: auto !important;
            margin-right: $h-gutter / 2 !important;
          } @else if ($direction == left) {
            margin-right: auto !important;
            margin-left: $h-gutter / 2 !important;
          } @else {
            margin-left: auto !important;
            margin-right: $h-gutter / 2 !important;
          }
        } @else if (type_of($offset) == number) {
          //...
        }
      }
    } else {
      @if ($offset == auto) {
        @if ($direction == right) {
          margin-left: auto !important;
          margin-right: $h-gutter / 2 !important;
        } @else if ($direction == left) {
          margin-right: auto !important;
          margin-left: $h-gutter / 2 !important;
        } @else {
          margin-left: auto !important;
          margin-right: $h-gutter / 2 !important;
        }
      } @else if (type_of($offset) == number) {
        //...
      }
    }
  }`,

  `@if ($offset > $columns) {
    $offset: $columns;
  }

  @if ($offset < 1) {
    $offset: 1;
  }

  @if ($direction == right) {
    margin-left: calc(100% / #{$columns} * #{$offset} + #{$h-gutter} / 2) !important;
  } @else if ($direction == left) {
    margin-right: calc(100% / #{$columns} * #{$offset} + #{$h-gutter} / 2) !important;
  }`,

  `  /* Смещение колонок */

  /*
    Смещает колонку в ряду на $offset - целое число колонок, вправо - $direction: right или влево - $direction: left.
    Если в качестве второго аргумента передано значение auto, колонка смещается на свободное пространство в ту или иную
    сторону. Если значение аргумента $breakpoint соответствует одному из имен ключей глобального массива $grid-breakpoints,
    правила применяются в соответствующем медиазапросе.
  */
  @mixin offset($direction: right, $offset: auto, $breakpoint: null) {
    @if (map_has_key($grid-breakpoints, $breakpoint)) {
      @media screen and (#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
        @if ($offset == auto) {
          @if ($direction == right) {
            margin-left: auto !important;
            margin-right: $h-gutter / 2 !important;
          } @else if ($direction == left) {
            margin-right: auto !important;
            margin-left: $h-gutter / 2 !important;
          } @else {
            margin-left: auto !important;
            margin-right: $h-gutter / 2 !important;
          }
        } @else if (type_of($offset) == number) {
          @if ($offset > $columns) {
            $offset: $columns;
          }

          @if ($offset < 1) {
            $offset: 1;
          }

          @if ($direction == right) {
            margin-left: calc(100% / #{$columns} * #{$offset} + #{$h-gutter} / 2) !important;
          } @else if ($direction == left) {
            margin-right: calc(100% / #{$columns} * #{$offset} + #{$h-gutter} / 2) !important;
          }
        }
      }
    } @else {
      @if ($offset == auto) {
        @if ($direction == right) {
          margin-left: auto !important;
          margin-right: $h-gutter / 2 !important;
        } @else if ($direction == left) {
          margin-right: auto !important;
          margin-left: $h-gutter / 2 !important;
        } @else {
          margin-left: auto !important;
          margin-right: $h-gutter / 2 !important;
        }
      } @else if (type_of($offset == number)) {
        @if ($offset > $columns) {
          $offset: $columns;
        }

        @if ($offset < 1) {
          $offset: 1;
        }

        @if ($direction == right) {
          margin-left: calc(100% / #{$columns} * #{$offset} + #{$h-gutter} / 2) !important;
        } @else if ($direction == left) {
          margin-right: calc(100% / #{$columns} * #{$offset} + #{$h-gutter} / 2) !important;
        }
      }
    }

  }`,

  `.container {

    .col-3 {
      @include offset(right, 5);
    }
  }`,

  `@if (index($partials, offset)) {
    @for $i from 1 through $columns {
      //...
    }
  }`,

  `@if (index($partials, offset)) {
    @for $i from 1 through $columns {
      .offset-right-#{$i} {
        //...
      }
    }
  }`,

  `@if (index($partials, offset)) {
    @for $i from 1 through $columns {
      .offset-right-#{$i} {
        @include offset(right, $i);
      }
    }
  }`,

  `@if (index($partials, offset)) {
    @for $i from 1 through $columns {
      .offset-right-#{$i} {
        @include offset(right, $i);
      }

      .offset-left-#{$i} {
        @include offset(left, $i);
      }
    }
  }`,

  `@each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
    .offset-#{$breakpoint-name}-right-#{$i} {
      @include offset(right, $i, $breakpoint-name);
    }

    .offset-#{$breakpoint-name}-left-#{$i} {
      @include offset(left, $i, $breakpoint-name);
    }
  }`,

  `.offset-right-auto {
    @include offset(right);
  }

  .offset-left-auto {
    @include offset(left);
  }`,

  `@each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
    .offset-#{$breakpoint-name}-right-auto {
      @include offset(right, auto, $breakpoint-name);
    }

    .offset-#{$breakpoint-name}-left-auto {
      @include offset(left, auto, $breakpoint-name);
    }
  }`,

  `@if (index($partials, offset)) {

    // генерация "смещающих" классов соответственно числу колонок и соответственно числу колонок и медиазапросам
    @for $i from 1 through $columns {
      .offset-right-#{$i} {
        @include offset(right, $i);
      }

      .offset-left-#{$i} {
        @include offset(left, $i);
      }

      @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
        .offset-#{$breakpoint-name}-right-#{$i} {
          @include offset(right, $i, $breakpoint-name);
        }

        .offset-#{$breakpoint-name}-left-#{$i} {
          @include offset(left, $i, $breakpoint-name);
        }
      }
    }

    // генерация "автосмещающих" классов, правила в которых применяются в медиазапросах
    @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
      .offset-#{$breakpoint-name}-right-auto {
        @include offset(right, auto, $breakpoint-name);
      }

      .offset-#{$breakpoint-name}-left-auto {
        @include offset(left, auto, $breakpoint-name);
      }
    }

    .offset-right-auto {
      @include offset(right);
    }

    .offset-left-auto {
      @include offset(left);
    }
  }`,

  `@mixin order($order: 0, $breakpoint: null) {
    //...
  }`,

  `@mixin order($order: 0, $breakpoint: null) {
    @if ($order > $columns) {
      $order: $columns;
    }

    @if ($order < 0) {
      $order: 0;
    }

    //...
  }`,

  `@mixin order($order: 0, $breakpoint: null) {
    @if ($order > $columns) {
      $order: $columns;
    }

    @if ($order < 0) {
      $order: 0;
    }

    @if (map_has_key($grid-breakpoints, $breakpoint)) {
      @media screen and (#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
        order: $order;
      }
    } @else {
      order: $order;
    }
  }`,

  `@mixin order-first($breakpoint: null) {
    @if (map_has_key($grid-breakpoints, $breakpoint)) {
      @media screen and (#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
        order: -1;
      }
    } @else {
      order: -1;
    }

  }`,

  `@mixin order-last($breakpoint: null) {
    @if (map_has_key($grid-breakpoints, $breakpoint)) {
      @media screen and (#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
        order: $columns + 1;
      }
    } @else {
      order: $columns + 1;
    }
  }`,

  `@for $i from 0 through $columns {
    .order-#{$i} {
      order: #{$i};
    }
  }`,

  `@each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
    @for $i from 0 through $columns {
      .order-#{$breakpoint-name}-#{$i} {
        @include order($i, $breakpoint-name);
      }
    }
  }`,

  `.order-first {
    @include order-first;
  }

  .order-last {
    @include order-last;
  }`,

  `@each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
    .order-#{$breakpoint-name}-first {
      @include order-first($breakpoint-name);
    }
  }

  @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
    .order-#{$breakpoint-name}-last {
      @include order-last($breakpoint-name);
    }
  }`,

  `@if (index($partials, ordering)) {

    /*
    Генерация "упорядочавающих" классов и правил для них: order-1, order-2, order-3 и т.д. согласно количеству заданных
    колонок $columns
    */
    @for $i from 0 through $columns {
      .order-#{$i} {
        order: #{$i};
      }
    }

    /*
      Генерация "упорядочивающих" классов в медиазапросах и правил для них: order-desktop-3, order-tablet-8, order-laptop-md-2 и т.д.
      согласно количеству заданных колонок $columns и значениям для медиазапросов $grid-breakpoints
    */
    @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
      @for $i from 0 through $columns {
        .order-#{$breakpoint-name}-#{$i} {
          @include order($i, $breakpoint-name);
        }
      }
    }

    /*
      Генерация "упорядочивающих" классов, перемещающих колонку в самое начало ряда, в медиазапросах: order-desktop-first,
      order-laptop-first, order-phone-sm-first и т.д. согласно заданным значениям в глобальном массиве $grid-breakpoints
    */
    @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
      .order-#{$breakpoint-name}-first {
        @include order-first($breakpoint-name);
      }
    }

    /*
      Генерация "упорядочивающих" классов, перемещающих колонку в самый конец ряда, в медиазапросах: order-desktop-last,
      order-laptop-last, order-phone-sm-last и т.д. согласно заданным значениям в глобальном массиве $grid-breakpoints
    */
    @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
      .order-#{$breakpoint-name}-last {
        @include order-last($breakpoint-name);
      }
    }

    .order-first {
      @include order-first;
    }

    .order-last {
      @include order-last;
    }
  }`,

  `.col:first-child {
    @include order(last, laptop-md);
  }`,

  `.col:last-child {
    @include order(first, tablet-landscape);
  }`,

  `@mixin hide($breakpoint: null) {
    @if (map_has_key($grid-breakpoints, $breakpoint)) {
      @media screen and (#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
        display: none;
      }
    } @else {
      display: none;
    }
  }`,

  `.col:nth-child(4),
  .col:nth-child(5),
  .col:nth-child(6) {
    @include hide(laptop-md);
  }`,

  `@if (index($partials, hide)) {

    .hide {
      @include hide();
    }

    /*
      Генерация "скрывающих" классов в медиазапросах исходя из глобального массива $grid-breakpoints, содержащего значения
      для медиазапросов
    */
    @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
      .hide-#{$breakpoint-name} {
        @include hide($breakpoint-name);
      }
    }
  }`,

  `/* Отображение скрытых элементов */

  /*
    Устанавливает свойство display у элемента, на котором вызван миксин. Если значение аргумента $breakpoint соответствует
    одному из имен ключей глобального массива $grid-breakpoints, правило будет применено в соответствующем медиазапросе
  */
  @mixin show($display: initial, $breakpoint: null) {
    @if ($display == none) {
      $display: initial;
    }

    @if (map_has_key($grid-breakpoints, $breakpoint)) {
      @media screen and (#{$media-query}-width: map_get($grid-breakpoints, $breakpoint)) {
        display: $display;
      }
    } @else {
      display: $display;
    }
  }`,

  `.col:nth-child(4),
   .col:nth-child(5),
   .col:nth-child(6) {
     @include hide;
     @include show(laptop-md);
  }`,

  `@if (index($partials, show)) {

    .show {
      @include show(initial);
    }

    /*
      Генерация "отображающих" классов в медиазапросах исходя из глобального объекта со значениями для медиазапросов
      $grid-breakpoints
    */
    @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
      .show-#{$breakpoint-name} {
        @include show(initial, $breakpoint-name);
      }
    }
  }`
  ],

  bash: [
  `grid/         - корневая директория библиотеки
    dist/       - скомпилированные css-файлы библиотеки
    sass/       - реализиция бибиотеки в sass-синтаксисе
    scss/       - реализация библиотеки в scss-синтаксисе
      mixins/   - миксины библиотеки, реализующие ядро
      partials/ - части библиотеки, реализующие генерацию предопределённых сеточных классов
      base.scss - начальная инициализация сетки
      grid.scss - главный файл, точка входа в библиотеку`
  ]
  }
  }

mixin snippet(snippet = '', type = 'html')
  pre&attributes(attributes)
    code(class= type)
      != replacement(snippet)