-
  const setTitle = ((page, config) => {
    let title;

    if (is_home()) title = 'Главная';
    if(is_post()) title = page.title;
    if(is_archive()) title = `Архив`;
    if(is_archive() && is_year()) title = `Архив: ${page.year}`;
    if(is_archive() && is_month()) title = `Архив: ${["Янв", "Фев", "Мар", "Апр", "Май", "Июнь", "Июль", "Авг", "Сент", "Окт", "Ноя", "Дек"][page.month - 1]} ${page.year}`;
    if(is_tag()) title = `Тэг: ${page.tag}`;
    if(is_category()) title = `Категория: ${page.category}`;

    return `${title} - ${config.title}`;
  })(page, config);

title= setTitle